.navbar__root {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #bdbdbd;
    background-color: #fff;
}

.navbar__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    max-width: 1080px;
    margin: auto;
}